.post{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    color:black;
    transition: all 0.2s ease-out;
    border-radius: 10px;
    

}

.post:hover{
    background-color: rgb(39, 39, 39);
    color: #fff;
    
}

ul{
    margin-left: 20px;
}

*{
    text-decoration: none;
}

img{
    width: 100%;
    border-radius: 10px;
    height: 300px;
}


.text{
    -webkit-line-clamp: 4; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
    margin-bottom: 10px;
}


.postInfo h1{
    font-size: 22px;
    margin-bottom: 10px;
}





.viewsCount{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.viewsCount p{
    font-weight: 600;
}


.viewsCount img{
    opacity: 0.7;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}