.post{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px -8px rgb(152, 152, 152);
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 10px 10px;
    color:black;
}

ul{
    margin-left: 20px;
}

*{
    text-decoration: none;
}

img{
    width: 100%;
    border-radius: 10px;
}

.postInfo{

}

.postInfo h1{
    font-size: 22px;
}


.viewsCount{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.viewsCount p{
    font-weight: 600;
}


.viewsCount img{
    opacity: 0.7;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}