.Header{
    box-shadow: 0 0 20px -10px rgb(160, 160, 160);
    padding: 20px 0
}

.headerWrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerLogo{
    background-color: black;
    padding:10px;
    color: #fff;

}

