.Header {
    background-color: #fff;
    width: 100%;
    opacity: 0;
    padding: 20px 0;
    transition: all 0.3s ease-in;



    .headerWrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .headerLogo {
            background-color: rgb(39, 39, 39);
            padding: 10px;
            color: #fff;




            .headerLink {
                color: #fff;
            }
        }
    }
}

