.Pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    button{
        color:#10bf34;
        font-family: source-code-pro, 'Courier New';
        font-weight: 600;
        font-size: 18px;
        border: unset;
    }
}